.currentCityHeader {
    background-image: url('http://www.weather1.com/assets/images/wallpapers/fly00712_sm.jpg'); 
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;

    height: 250px;
    padding-top: 50px;
}

#listOfCities {
    align-content: center;
    align-items: center; 
}

#city {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 10%;
    display: block;
}

body {
    align-content: center;
    background-image: url('http://www.weather1.com/assets/images/wallpapers/fly00712_sm.jpg');
    background-size: cover;
}

.oneDayForecast {
    background-color: #4CAF50;
    border: 1px solid green;
    width: 9%;
    height: 160px;
    display: inline-block;
}